.cart-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 80vw;
  min-width: 900px;
  min-height: 75vh;
  border: 0.5px solid rgba(54, 54, 54, 0.132);
  margin-top: 50px;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 20px,
        transparent 20px
      )
      0% 0%/23px 23px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 20px, transparent 20px)
      100% 0%/23px 23px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 20px, transparent 20px)
      0% 100%/23px 23px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 20px, transparent 20px)
      100% 100%/23px 23px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 6px)
      calc(100% - 46px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 46px)
      calc(100% - 6px) no-repeat,
    linear-gradient(90deg, #ff40f5 0%, #48abe0 100%);
  border-radius: 23px;
  box-sizing: border-box;
  color: blueviolet;
  margin: 100px auto;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.cart-main-area {
  display: flex;
  flex-direction: row;
}

.cart-item-container {
  flex-grow: 3;
}

.cart-total-container {
  flex-grow: 2;
}

.cart-separator {
  position: relative;
  right: 35px;
  width: 2px;
  height: 500px;
  background: rgb(214, 30, 30);
  background: linear-gradient(
    19deg,
    rgba(214, 30, 30, 0) 0%,
    rgb(141, 100, 236) 100%
  );
}

.cart-title {
  text-align: center;
  font-size: 2.3em;
  font-family: "Expletus Sans";
  text-shadow: 0px 3px 3px rgba(244, 31, 255, 0.4);
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 80%;
  border: 1px solid grey;
  margin: 10px auto;
  border: 1px solid rgba(255, 165, 31, 0.849);
  border-radius: 6px;
  background: rgb(101, 30, 214);
  background: linear-gradient(
    90deg,
    rgb(85, 48, 143) 0%,
    rgb(89, 51, 113) 50%,
    rgba(50, 40, 130, 0.704) 99%
  );
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  box-sizing: border-box;
}

.cart-remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Expletus Sans";
  text-align: center;
  width: 70px;
  height: 30px;
  position: relative;
  background-color: blanchedalmond;
  color: red;
  border: 2px solid rgb(250, 58, 58);
  border-radius: 6px;
  z-index: 3;
  text-shadow: 0px 2px 2px rgb(232, 120, 89);
  cursor: pointer;
}

.cart-remove-button:hover {
  transform: scale(1.02);
}

.cart-item-title {
  font-size: 1.4em;
  color: rgb(255, 208, 40);
  text-align: center;
  text-shadow: 0px 3px 3px rgb(255, 94, 50);
}

.cart-item-platform {
  font-size: 1.4em;
  text-shadow: 0px 3px 3px rgb(44, 0, 68);
  color: rgb(210, 115, 6);
}

.cart-item-price {
  font-size: 1.7em;
  color: rgb(74, 231, 12);
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 0px 3px 3px rgba(243, 96, 22, 0.759);
}

.cart-subtotal-title {
  text-align: center;
  font-size: 1.5em;
  font-family: "Expletus Sans";
  margin-bottom: 30px;
}
.cart-subtotal-price {
  text-align: center;
  color: rgb(64, 63, 63);
  font-size: 1.5em;
  font-family: "Expletus Sans";
  margin-bottom: 30px;
}
