.cabinet-container {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 80vw;
  border: 0.5px solid rgba(54, 54, 54, 0.132);
  margin-top: 50px;
  border-radius: 6px;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 20px,
        transparent 20px
      )
      0% 0%/23px 23px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 20px, transparent 20px)
      100% 0%/23px 23px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 20px, transparent 20px)
      0% 100%/23px 23px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 20px, transparent 20px)
      100% 100%/23px 23px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 6px)
      calc(100% - 46px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 46px)
      calc(100% - 6px) no-repeat,
    linear-gradient(90deg, #ff40f5 0%, #48abe0 100%);
  border-radius: 23px;
  box-sizing: border-box;
  color: blueviolet;
  margin: 100px auto;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.profile-separator {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid grey; */
  width: 250px;
  height: 250px;
  margin-top: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

.options-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  margin-top: 130px;
  font-size: 1.5em;
  text-decoration: none;
}

.options-list div {
  padding-top: 5px;
  padding-bottom: 5px;
  color: blueviolet;
  text-decoration: none;
}
.options-list div:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* 
.my-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 2;
} */

.side-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 2;
}