/* Mobile-first method */

/* @media only screen and (min-width: 320px) { */
.navbar-container {
  display: flex;
  /* position: fixed; */
  height: 9vh;
  min-height: 70px;
  width: 100%;
  border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.181);
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: rgb(214, 30, 30);
  background: linear-gradient(
    90deg,
    rgba(214, 30, 30, 1) 0%,
    rgba(253, 181, 29, 1) 29%,
    rgba(87, 53, 164, 1) 100%
  );
  font-family: "Cinzel Decorative", cursive;
  border-bottom: 3px solid rgba(255, 68, 0, 0.474);
  text-shadow: 3px 0px 2px rgb(136, 22, 151);
}

.navbar-container a {
  display: flex;
  /* flex-direction: column; */
}

.profile-container a {
  display: inline;
  text-align: center;
}

.profile-container span {
  white-space: nowrap;
}


.navbar-title {
  font-size: 2.5em;
  color: rgb(70, 20, 145);
  text-shadow: 3px 0px 2px rgb(158, 55, 255);
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  font-family: "Expletus Sans";
  transform: scale(0.8);
  font-size: 80%;
  color: rgb(254, 200, 24);
}

.navbar-elements {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  font-size: 1.5em;
}

.navbar-elements div {
  margin: 3px;
}

.navbar-elements div:hover {
  transform: scale(0.9);
}

/* } */
/* @media only screen and (min-width: 480px) {
  .navbar-container {
    display: flex;
    position: fixed;
    height: 9vh;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.181);
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-elements {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navbar-elements div {
    margin: 3px;
  }
  .navbar-elements div:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 640px) {
  .navbar-container {
    display: flex;
    position: fixed;
    height: 9vh;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.181);
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-elements {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navbar-elements div {
    margin: 3px;
  }
  .navbar-elements div:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 768px) {
  .navbar-container {
    display: flex;
    position: fixed;
    height: 9vh;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.181);
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-elements {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navbar-elements div {
    margin: 3px;
  }
  .navbar-elements div:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 960px) {
  .navbar-container {
    display: flex;
    position: fixed;
    height: 9vh;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.181);
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-elements {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navbar-elements div {
    margin: 3px;
  }
  .navbar-elements div:hover {
    transform: scale(1.1);
  }
} */
