/* Mobile-first method */

/* @media only screen and (min-width: 320px) { */
.navbar-container {
  display: flex;
  /* position: fixed; */
  height: 9vh;
  min-height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.181);
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: rgba(255, 255, 255, 0.173);
  /* background: linear-gradient(
    90deg,
    rgb(236, 91, 91) 0%,
    rgb(241, 200, 112) 29%,
    rgba(87, 53, 164, 1) 100%
  ); */
  font-family: "Cinzel Decorative", cursive;
  border-bottom: 2px solid rgb(255, 255, 255);
  /* text-shadow: 3px 0px 2px rgb(136, 22, 151); */
  box-shadow: rgba(209, 244, 9, 0.415) 0px 22px 70px 0px;
}

.navbar-container a {
  display: flex;
  /* flex-direction: column; */
}

.profile-container a {
  display: inline;
  text-align: center;
}

.profile-container span {
  white-space: nowrap;
}


.navbar-title {
  font-size: 2.5em;
  color: rgb(81, 66, 95);
  text-shadow: 3px 0px 2px rgb(158, 55, 255);
}

.cart {
  position: absolute;
  left: 85%;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(50, 205, 50, 0.247);
  border-radius: 50%;
  background-color: beige;
  font-size: 12px;
  /* background: rgb(101, 30, 214);
  background: linear-gradient(
    90deg,
    rgb(85, 48, 143) 0%,
    rgb(89, 51, 113) 50%,
    rgba(50, 40, 130, 0.704) 99%
  ); */
  font-family: "Cinzel Decorative", cursive;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-decoration: none;
}

.cart:hover {
  background-color: rgb(247, 254, 204);
}

.cart img {
  position: relative;
  left: 18px;
  top: 10px;
}

.nav-cart-title {
  position: absolute;
  top: 64px;
  left: 31px;
  font-family: "Expletus Sans";
  text-shadow: 1px 0px 1px rgba(239, 58, 236, 0.789);
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  font-family: "Expletus Sans";
  /* transform: scale(); */
  font-size: 65%;
  color: rgb(233, 144, 1);
  padding-left: 3px;
  padding-right: 3px;
}

.navbar-elements {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  font-size: 1.5em;
}

.navbar-elements div {
  margin: 3px;
}

.navbar-elements div:hover {
  transform: scale(1.03);
  /* color: rgb(252, 233, 170); */
}

.cart-item-counter {
  /* display: none; */
  position: relative;
  width: 15px;
  height: 15px;
  background: whitesmoke;
  border-radius: 50%;
  border: 2.5px solid rgba(148, 35, 186, 0.751);
  left: 37px;
  bottom: 28px;
  text-align: center;
  text-shadow: none;
  font-size: 1em;
  font-family: "Expletus Sans";
}
.cart-item-counter:hover {
  color:rgb(70, 20, 145);
}

.cart-shake {
  animation: tilt-shaking 0.2s linear;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}