/* Mobile-first method */

/* @media only screen and (min-width: 320px) { */
.navbar-container {
  display: flex;
  /* position: fixed; */
  height: 9vh;
  width: 100%;
  border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.181);
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  font-family: "Expletus Sans";
  transform: scale(0.8);
  font-size: 80%;
}

.navbar-elements {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.navbar-elements div {
  margin: 3px;
}

.navbar-elements div:hover {
  transform: scale(0.9);
}

/* } */
/* @media only screen and (min-width: 480px) {
  .navbar-container {
    display: flex;
    position: fixed;
    height: 9vh;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.181);
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-elements {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navbar-elements div {
    margin: 3px;
  }
  .navbar-elements div:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 640px) {
  .navbar-container {
    display: flex;
    position: fixed;
    height: 9vh;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.181);
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-elements {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navbar-elements div {
    margin: 3px;
  }
  .navbar-elements div:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 768px) {
  .navbar-container {
    display: flex;
    position: fixed;
    height: 9vh;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.181);
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-elements {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navbar-elements div {
    margin: 3px;
  }
  .navbar-elements div:hover {
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 960px) {
  .navbar-container {
    display: flex;
    position: fixed;
    height: 9vh;
    width: 100%;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.087);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.181);
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  }
  .navbar-title {
    margin-left: 10px;
  }
  .navbar-elements {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .navbar-elements div {
    margin: 3px;
  }
  .navbar-elements div:hover {
    transform: scale(1.1);
  }
} */
