.premium-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  min-width: 250px;
  min-height: 400px;
  max-width: 300px;
  height: 40vh;
  border: 1px solid rgba(255, 165, 31, 0.849);
  border-radius: 6px;
  margin: 10px;
  background-color: rgba(40, 15, 138, 0.57);
  font-family: 'Cinzel Decorative', cursive;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  z-index: 1;
}

.premium-title {
  display: flex;
  font-size: 1.3em;
  margin: 3px;
  color: rgb(253, 180, 116);
  flex-grow: 2;
  margin-left: 10px;
  text-shadow: 0px 3px 3px rgb(255, 94, 50);
  margin-top: 20px;
}

.premium-image {
  display: flex;
  flex-grow: 4;
  width: 99%;
  height: 100%;
  min-height: 230px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 6px;
}


.premium-price {
  display: flex;
  margin: 3px;
  font-size: 1.3em;
  color: rgb(255, 79, 16);
  font-family: 'Cinzel Decorative', cursive;
  text-shadow: 0px 3px 3px rgba(6, 20, 224, 0.4);
}

.premium-description {
  display: flex;
  text-align: center;
  flex-grow: 1;
  font-size: 0.9em;
  margin-top: 1.5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  min-height: 70px;
  font-family: 'Cinzel Decorative', cursive;
  text-shadow: 0px 3px 3px rgba(255, 162, 31, 0.4);
  color:rgb(252, 243, 189)
}

.list-container {
  display: flex;
  flex-direction: row;
}

.price-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 70px;
  z-index: 2;
  box-shadow: rgb(255, 163, 34) 3px 3px 6px 0px inset, rgb(252, 106, 28) -3px -3px 6px 1px inset;
  border-radius: 45%;
  background-color: rgb(236, 225, 255);
  align-self: center;
  margin-top: 15px;
}

.premium-container:hover {
  transform: scale(1.01);
}
