.premium-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 350px;
  border: 1px solid rgba(255, 165, 31, 0.849);
  border-radius: 6px;
  margin: 10px;
  background: rgb(101, 30, 214);
  background: linear-gradient(
    90deg,
    rgb(85, 48, 143) 0%,
    rgb(89, 51, 113) 50%,
    rgba(50, 40, 130, 0.704) 99%
  );
  font-family: "Cinzel Decorative", cursive;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  z-index: 1;
  box-sizing: border-box;
}

.premium-title {
  /* margin-top: -20px; */
  margin-bottom: 10px;
  font-size: 1.3em;
  color: rgb(255, 208, 40);
  text-align: center;
  text-shadow: 0px 3px 3px rgb(255, 94, 50);
}

.premium-image {
  display: flex;
  min-height: 230px;
  max-height: 230px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  border-radius: 6px;
}

.premium-price {
  margin: 3px;
  font-size: 1.4em;
  color: rgb(231, 34, 12);
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 0px 3px 3px rgba(86, 1, 68, 0.759);
}

.premium-description {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  min-height: 90px;
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 0px 3px 3px rgba(255, 162, 31, 0.4);
  color: rgb(252, 243, 189);
}

.list-container {
  display: flex;
  flex-direction: row;
}

.price-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70px;
  z-index: 2;
  box-shadow: rgb(255, 163, 34) 3px 3px 6px 0px inset,
    rgb(252, 106, 28) -3px -3px 6px 1px inset;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 6px;
  background-color: rgb(236, 225, 255);
  align-self: center;
}

.premium-container:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.platform-info {
  padding-right: 15px;
  text-shadow: 0px 3px 3px rgb(44, 0, 68);
  color: rgb(210, 115, 6);
}

.smaller {
  transform: scale(0.8);
  margin: -15px;
}

.smaller:hover {
  transform: scale(0.81);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 220px;
  bottom: 50px;
  font-family: "Expletus Sans";
  text-align: center;
  width: 70px;
  height:30px;
  position: relative;
  background-color: blanchedalmond;
  color: red;
  border: 2px solid rgb(250, 58, 58);
  border-radius: 6px;
  z-index: 3;
  text-shadow: 0px 2px 2px rgb(232, 120, 89);
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  top: 425px;
  font-family: "Expletus Sans";
  text-align: center;
  width: 120px;
  /* height:30px; */
  position: relative;
  background-color: rgb(246, 255, 146);
  color: rgb(60, 135, 10);
  border: 2px solid rgb(151, 237, 13);
  border-radius: 6px;
  z-index: 4;
  text-shadow: 0px 2px 2px rgb(232, 120, 89);
}

/* .add {
  position: absolute;
  height: 30px;
  width: 50px;
  border-radius: 3px;
  border: 1px rgb(118, 182, 23) solid;
  text-decoration:none;
  font-family: "Expletus Sans";
} */

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 140px;
  bottom: 16px;
  font-family: "Expletus Sans";
  text-align: center;
  width: 70px;
  height:30px;
  background-color: blanchedalmond;
  position: relative;
  color: rgb(255, 167, 35);
  border: 2px solid rgb(255, 204, 0);
  border-radius: 6px;
  z-index: 3;
  text-shadow: 0px 2px 2px rgb(221, 166, 48);
}

.close-button:hover {
  transform: scale(1.05);
}

.edit-button:hover {
  transform: scale(1.05);
}

.cart-button:hover {
  transform: scale(1.05);
}

