.wallet-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin-top: 20px;
}

.wallet-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
  flex-direction: column;
}

.card-input {
  width: 41px;
}
/* .my-cards {

} */

.cvs-number {
  width: 30px;
}

.additional-data {
  display: flex;
  justify-content: space-around;
}