.games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.games-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.games-items {
  display: flex;
  height: auto;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.games-items li {
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.322);
  border-radius: 3px;
  list-style-type: none;
  cursor: pointer;
}
.games-items li:hover {
  transform: scale(1.05);
}

.games-title {
  margin: 20px;
  font-size: 1.7em;
  color: blueviolet;
  margin-top: -5px;
}
