.platform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.platform-items {
  display: flex;
  height: auto;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.platform-items li {
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.322);
  border-radius: 3px;
  list-style-type: none;
  cursor: pointer;
}
.platform-items li:hover{
  transform: scale(1.05);
}

.platform-title {
  font-size: 1.5em;
  font-family: "Expletus Sans", cursive;
  margin: 20px;
}
