.popular-container {
  display: flex;
}

.popular-items {
  height: 6vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.popular-items li {
  border: 3px solid rgba(128, 128, 128, 0.074);
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.127);
  padding: 6px;
  list-style-type: none;
  font-family: "Expletus Sans", cursive;
}
.popular-items li:hover {
  transform: scale(1.1);
  background-color: rgba(158, 87, 169, 0.319);
  padding: 6px;
  cursor:pointer;
}
