.privacy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 50vh;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 80px;
  align-items: center;
  font-family: "Expletus Sans", cursive;
  font-size: 1.3em;
  text-decoration: none;
  text-align: justify;
}