.social-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-title {
  font-size: 1.5em;
  margin: 20px;
}

.social-container div img:hover {
  transform: scale(1.07);
  cursor:pointer;
}