.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title-container img{
  margin: -12px
}

#num {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5em;
  background: #5BC3F7;
  background: linear-gradient(to bottom, #369bf9da 0%, #d834dbc0 100%);
  letter-spacing: -4px;
  margin-bottom: 4px;
  text-decoration: #d834dbc0 underline; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}