.popular-container {
  display: flex;
}

.popular-items {
  height: 6vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.popular-items li {
  border: 1px solid rgba(128, 128, 128, 0.172);
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.127);
  padding: 6px;
  list-style-type: none;
  font-family: 'Expletus Sans', cursive;
}
