.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
}

.top-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-self: center;
}
