.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  /* background-color: #ffffff4b; */
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
  font-family: "Expletus Sans", cursive;
}

.top-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-self: center;
}
